{% extends 'base/base.html' %}


{% block body %}
<div class="w-100 d-flex mt-4 " style="justify-content: center;">
    <form class="w-50" method="POST">
      {% csrf_token %}
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text" id="form4Example1" class="form-control" />
          <label class="form-label" for="form4Example1">Adınız</label>
        </div>
      
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" name="email" id="form4Example2" class="form-control" />
          <label class="form-label" for="form4Example2">Email adresiniz</label>
        </div>
      
        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea name="emailmessage" class="form-control" id="form4Example3" rows="4"></textarea>
          <label class="form-label" for="form4Example3">Mesajınız</label>
        </div>

        <!-- Submit button -->
        <div class="d-flex" style="justify-content: end;">
            <button type="submit" class="btn btn-primary btn-block mb-4 w-25">Gönder</button>
        </div>
      </form>
    
</div>
{% endblock body %}
    